[Desktop Entry]
Version=1.0
Type=Application
Name=Blender
Comment=
Icon=/opt/blender/icons/scalable/apps/blender.svg
Exec=/opt/blender/blender
Path=/opt/blender
Terminal=true
StartupNotify=true
Categories=3DGraphics;Graphics

Name[pt_BR]=Blender
Comment[pt_BR]=
