[Desktop Entry]
Version=1.0
Type=Application
Name=Blender
Comment=
Icon=blender
Exec=/media/BKP/local/bin/blender
Path=/media/BKP/local/share/blender
Terminal=false
StartupNotify=false
Categories=Graphics
