[Desktop Entry]
Version=1.0
Type=Application
Name=Counter-Strike
Comment=Counter-Strike
Icon=/home/emersonmx/Jogos/PC/CS_1_6/cstrike/cstrike.png
Exec=wine start /Unix "/home/emersonmx/Jogos/PC/CS_1_6/hl.exe -nomaster -game cstrike"
Path=
Terminal=false
StartupNotify=false
Categories=Game
