[Desktop Entry]
Encoding=UTF-8
Name=Dia Diagram Editor
Name[pt]=Editor de Diagramas Dia
Name[pt_BR]=Editor de diagramas Dia
Comment=Edit your Diagrams
Comment[pt]=Edite os seus Diagramas
Comment[pt_BR]=Edite os seus diagramas
Type=Application
Exec=dia %F
Icon=dia
Terminal=false
Categories=GNOME;Graphics;
StartupNotify=true
MimeType=application/x-dia-diagram;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=dia
X-GNOME-Bugzilla-Component=general
X-GNOME-Bugzilla-Version=@0.97.2@
NoDisplay=true
