[Desktop Entry]
Version=1.0
Type=Application
Name=Diablo II
Comment=Diablo II - Fullscreen
Icon=/home/emersonmx/Jogos/PC/Diablo2/D2X.png
Exec=wine start /Unix "/home/emersonmx/Jogos/PC/Diablo2/Diablo II.exe"
Path=
Terminal=false
StartupNotify=false
Categories=Game
