[Desktop Entry]
Version=1.0
Type=Application
Name=Diablo II
Comment=Diablo II
Icon=/media/BKP/Diablo II/D2X.png
Exec=wine start /Unix "/media/BKP/Diablo II/Diablo II.exe"
Path=
Terminal=false
StartupNotify=false
Categories=Game
