[Desktop Entry]
Version=1.0
Type=Application
Name=Eclipse
Comment=
Icon=eclipse
Exec=/media/BKP/local/bin/eclipse
Path=/media/BKP/local/share/eclipse
Terminal=false
StartupNotify=false
Categories=Development
