[Desktop Entry]
Version=1.0
Type=Application
Name=Shader Designer
Comment=
Icon=applications-graphics
Exec=/media/BKP/local/bin/shaderdesigner
Path=/media/BKP/local/share/shader_designer
Terminal=false
StartupNotify=false
Categories=Graphics
