[Desktop Entry]
Version=1.0
Type=Application
Name=ShaderMaker
Comment=
Icon=applications-graphics
Exec=/media/BKP/local/bin/ShaderMaker
Path=/media/BKP/local/share/ShaderMaker
Terminal=false
StartupNotify=false
Categories=Graphics
