[Desktop Entry]
Name=Task Manager
Name[pt]=Gestor de Tarefas
Name[pt_BR]=Gerenciador de tarefas
Comment=Easy to use task manager
Comment[pt]=Gestor de tarefas fácil de usar
Comment[pt_BR]=Um gerenciador de tarefas fácil de usar
GenericName=Task Manager
GenericName[pt]=Gestor de Tarefas
GenericName[pt_BR]=Gerenciador de tarefas
Exec=xfce4-taskmanager
Icon=utilities-system-monitor
Terminal=false
StartupNotify=true
Type=Application
Categories=System;Utility;
X-XFCE-Source=file:///usr/share/applications/xfce4-taskmanager.desktop
